<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <style>
    .profile {
      width: 400px;
      margin: auto;
      text-align: center;
    }

    .profile h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 30px;
      padding: 20px 0 20px 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .profile input[type="text"],
    .profile input[type="tel"] {
      width: 100%;
      padding: 20px;
      border: 3px solid#d9ccee;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    .profile label {
      text-align: left;
      width: 100%;
      color: #4d4d4d;
      font-size: 16px;
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
    }

    table,
    td,
    th {
      border: 3px solid#d9ccee;
      text-align: left;
      margin: left;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    .table-data {
      margin: auto;
    }

    th,
    td {
      padding: 15px;
    }
  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <br><br><br>
  <div class="profile">
    <h1 style="text-align:center;"> My Profile </h1>
    <form action="/careTaker/saveProfile" method="POST">
      <label>User Name:</label>
      <input type="text" name="userName" placeholder="My Name" value='<%=user.cname%>' required>
      <label>Living Area:</label>
      <input type="text" name="userArea" placeholder="My Living Area" value='<%=user.area%>' required>
      <label>Tel Number:</label>
      <input type="tel" name="userTel" placeholder="My Telephone" value='<%=user.phonenum%>' required>
      <label>Other Information:</label>
      <table border="1" class="table-data">
        <tr>
          <th>Total Pet Days</th>
          <th>Rating</th>
          <th>Max Pet Number</th>
          <th>Employee Type</th>
        </tr>
        <tr>
          <td><%=user.petday%></td>
          <td><%=user.rating%></td>
          <td><%=user.maxpetnum%></td>
          <td><%=user.timetype%></td>
        </tr>
      </table>
      <br><br>
      <input type="submit" class="btn btn-lg btn-primary" style="background-color: #532f8c;">
      <a type="button" class="btn btn-lg btn-primary" style="background-color: #4d4d4d;" href="/caretaker"></span>
        Return
      </a>
    </form>
  </div>

</body>

</html>