<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <style>
    .profile {
      width: 600px;
      margin: auto;
      text-align: center;
    }

    .profile h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 30px;
      padding: 20px 0 20px 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .profile input[type="text"],
    .profile input[type="number"] {
      width: 75%;
      padding: 20px;
      border: 3px solid#d9ccee;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <br><br><br>
  <div class="profile">
    <h1 style="text-align:center;"> My Pet Profile </h1>
    <form action="/petOwner/pets/saveProfile" method="POST">
      <pre style="background-color: #ffffff; border: 0ch;">
        Name: <input type="text" name="petName" placeholder="Pet Name" value='<%=user.name%>' required>
        Type: <input type="text" name="petType" placeholder="Pet Type" value='<%=user.type%>' required>
        Gender: <input type="text" name="petGender" placeholder="Pet Gender" value='<%=user.gender%>'>
        Age: <input type="number" name="petAge" placeholder="Pet Age" value='<%=user.age%>'>
        Remark: <input type="text" name="specReq" placeholder="Special Requirement" value='<%=user.specreq%>'>        
      </pre>
      <br><br>
      <input type="submit" class="btn btn-lg btn-primary" style="background-color: #532f8c;">
      <a type="button" class="btn btn-lg btn-primary" style="background-color: #4d4d4d;" href="/petowner/pets"></span> Return </a>
    </form>
  </div>

</body>

</html>