<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <style>
    table,
    td,
    th {
      border: 3px solid#d9ccee;
      text-align: left;
      margin: auto;
    }

    h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 30px;
      padding: 20px 0 20px 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    table {
      border-collapse: collapse;
      width: 50%;
    }

    .table-data {
      position: relative;
      left: 150px;
      top: 100px;
    }

    th,
    td {
      padding: 15px;
    }
  </style>

</head>

<body>

  <% include ../partials/nav.ejs %>
  <br><br><br>
  <div class="table-data">
    <h1 style="text-align:center;"> Statistics for caretaker</h1>
    <table border="1">
      <tr>
        <th>No.</th>
        <th>Month</th>
        <th>Year</th>
        <th>Total pets</th>
        <th>Pet days</th>
        <th>Salary</th>
      </tr>

      <%
            if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
            %>
      <tr>
        <td><%=i; %></td>
        <td><%=data.month %></td>
        <td><%=data.year %></td>
        <td><%=data.total_pets %></td>
        <td><%=data.pet_days %></td>
        <td><%=data.salary %></td>
      </tr>
      <%  i++; }) %>
      <% } else{ %>
      <tr>
        <td colspan="6">No Data Found</td>
      </tr>
      <% } %>
    </table>
    <br><br>
    <button onclick="goBack()" class="btn btn-lg btn-primary" style="background-color: #532f8c">Go Back</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
  </div>

</body>

</html>